# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.VSCodeCounter/2025-09-28_20-23-45/details.md
.VSCodeCounter/2025-09-28_20-23-45/diff-details.md
.VSCodeCounter/2025-09-28_20-23-45/diff.csv
.VSCodeCounter/2025-09-28_20-23-45/diff.md
.VSCodeCounter/2025-09-28_20-23-45/diff.txt
.VSCodeCounter/2025-09-28_20-23-45/results.csv
.VSCodeCounter/2025-09-28_20-23-45/results.json
.VSCodeCounter/2025-09-28_20-23-45/results.md
.VSCodeCounter/2025-09-28_20-23-45/results.txt
