/* Загальні стилі для контейнера сторінки */
.pageContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f5f7;
  font-family: "Lora", serif;
}

/* Назад кнопка */
.backButton {
  display: inline-block;
  padding: 10px 20px;

  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}

.backButton:hover {
  background-color: #357ab8;
}
.backEditBtnCont {
  display: flex;
  justify-content: space-between;
}
/* Заголовок сторінки */
.pageTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #333333;
  text-align: center;
}

/* Пошукове поле */
.searchField {
  /* width: 100%;
  width: 600px; */
  padding: 12px;
  width: 626px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

/* Стиль для списку таблиць */
.tableList {
  list-style: none;
  padding: 0;
}

.tableItem {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.tableItem:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

/* Заголовок таблиці */
.tableTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333333;
}

/* Інформація про таблицю */
.tableDate,
.tableBillTo,
.tablePayTo {
  font-size: 16px;
  color: #666666;
  margin-bottom: 5px;
}

/* Повідомлення, якщо таблиць немає */
.noTablesMessage {
  font-size: 18px;
  text-align: center;
  color: #666666;
}

/* Кнопка для приховування таблиці */
.hideButton {
  padding: 8px 16px;
  background-color: #e74c3c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.hideButton:hover {
  background-color: #c0392b;
}

/* Форма для додавання таблиці */
.addTableForm {
  background-color: #f9fafc;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.formTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  max-width: 600px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.addTableButton {
  padding: 12px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
}

.addTableButton:hover {
  background-color: #357ab8;
}

/* Кнопка для перемикання показу прихованих таблиць */
.showHiddenButton {
  padding: 10px 20px;
  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
}

.showHiddenButton:hover {
  background-color: #4a90e2;
}

/* Кнопка для редагування */
.editButton {
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.editButton:hover {
  background-color: #357ab8;
}

/* Мобільна версія (від 375px до 768px) */
@media (max-width: 768px) {
  .pageContainer {
    padding: 10px;
  }
  .backEditBtnCont {
    flex-wrap: wrap;
    gap: 20px;
  }
  .backButton {
    width: 100%;
    font-size: 14px;
  }

  .pageTitle {
    font-size: 24px;
  }

  .searchField {
    width: 100%;
    padding: 10px;
  }

  .tableTitle {
    font-size: 16px;
  }

  .tableDate,
  .tableBillTo,
  .tablePayTo {
    font-size: 14px;
  }

  .addTableForm {
    padding: 15px;
  }

  .formTitle {
    font-size: 20px;
  }

  .inputField {
    font-size: 14px;
    padding: 10px;
  }

  .addTableButton,
  .editButton,
  .showHiddenButton {
    width: 100%;
    font-size: 14px;
  }
}
