.tableDetailsContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.backButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.invoiceTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.invoiceTable th,
.invoiceTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.invoiceTable th {
  background-color: #4caf50;
  color: white;
}

.invoiceTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.totalRow {
  font-weight: bold;
  background-color: #e0e0e0;
}

.addInvoiceForm {
  margin-top: 20px;
}

.inputField {
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.addInvoiceButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
@media print {
  .addInvoiceForm,
  .backButton {
    display: none; /* Не друкувати форму та кнопку повернення */
  }

  .invoicePage {
    padding: 0;
    border: none;
  }

  .document {
    border: none;
    padding: 0;
  }

  .invoiceTable th,
  .invoiceTable td {
    padding: 5px;
  }
  header {
    display: none;
  }
  button {
    display: none;
  }
  input {
    display: none;
  }
}
.totalRow {
  font-weight: bold;
  background-color: #f0f0f0;
}

.totalLabel {
  text-align: right;
  padding-right: 10px;
}
