.tablePage {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  font-family: Arial, sans-serif;
}

.pageTitle {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.buttonBack {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #3a7bd5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: block;
}

.buttonBack:hover {
  background-color: #357ab8;
}

.addInvoiceForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.inputField {
  width: 180px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.addInvoiceButton {
  padding: 10px 20px;
  background-color: #3a7bd5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.addInvoiceButton:hover {
  background-color: #357ab8;
}
.inputField {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%; /* Поля заповнюють всю доступну ширину */
  box-sizing: border-box; /* Враховує padding і border при обчисленні ширини */
}

.addInvoiceForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Сітка з 4 колонок для 4 полів */
  gap: 10px;
  margin-top: 20px;
}

.addInvoiceButton {
  padding: 10px 20px;
  background-color: #3a7bd5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  grid-column: span 4; /* Кнопка займатиме всю ширину */
  margin-top: 10px;
  text-align: center;
}

.addInvoiceButton:hover {
  background-color: #357ab8;
}
